@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientButton {
  background: rgb(234, 178, 81);
  background: linear-gradient(90deg, rgba(234, 178, 81, 1) 0%, rgba(234, 83, 116, 1) 99%);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 4px 10px;
}